:root {
  --ff-primary: "VT323", monospace;

  --fs-400: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font: inherit;
}

/* Remove the default outline from reasonly inputs */
input[readonly]:focus {
  outline: none;
}

body {
  background-color: hsla(340, 70%, 70%, 1);
  font-family: var(--ff-primary);
}

.main {
  min-height: 100vh;
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: hsla(0, 0%, 20%, 1);
  width: 90%;
  max-width: 400px;
  padding: 1em;
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.2);
  margin: 0 auto;
}

.calculator__display {
  background-color: hsla(81, 12%, 67%, 1);
  min-height: 100px;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px hsla(81, 12%, 35%, 0.5) inset;
  display: grid; /* makes inner contents stretch */
}

.calculator__display_prev-equation,
.calculator__display_current-equation {
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: right;
  border-radius: 0;
  border: none;
  outline: none;
}

.calculator__display_prev-equation {
  font-size: var(--fs-400);
  opacity: 0.75;
}

.calculator__display_current-equation {
  font-size: var(--fs-700);
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  grid-template-areas:
    "clear clear undo divide"
    "num7 num8 num9 multiply"
    "num4 num5 num6 substract"
    "num1 num2 num3 add"
    "point num0 equal equal";
  gap: 0.5em;
  margin-top: 1rem;
}

.calculator__buttons > button {
  background-color: hsla(0, 0%, 27%, 1);
  color: hsla(0, 0%, 100%);
  font-size: var(--fs-600);
  border: 1px solid hsla(0, 0%, 5%, 1);
  border-radius: 5px;
  box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.25);
}

.calculator__buttons > button[data-type="number"] {
  background-color: hsla(0, 0%, 40%, 1);
}

.calculator__buttons > button[data-type="operator"],
.calculator__buttons > #equal {
  font-size: var(--fs-700);
}

.calculator__buttons > #equal {
  background-color: hsla(23, 100%, 59%, 1);
}

.calculator__buttons > button:hover {
  cursor: pointer;
}

.calculator__buttons > button:active {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.97);
}

.calculator__button_clear {
  grid-area: clear;
}

.calculator__button_undo {
  grid-area: undo;
}

.calculator__button_divide {
  grid-area: divide;
}

.calculator__button_multiply {
  grid-area: multiply;
}

.calculator__button_substract {
  grid-area: substract;
}

.calculator__button_add {
  grid-area: add;
}

.calculator__button_equal {
  grid-area: equal;
}

.calculator__button_num1 {
  grid-area: num1;
}

.calculator__button_num2 {
  grid-area: num2;
}

.calculator__button_num3 {
  grid-area: num3;
}

.calculator__button_num4 {
  grid-area: num4;
}

.calculator__button_num5 {
  grid-area: num5;
}

.calculator__button_num6 {
  grid-area: num6;
}

.calculator__button_num7 {
  grid-area: num7;
}

.calculator__button_num8 {
  grid-area: num8;
}

.calculator__button_num9 {
  grid-area: num9;
}

.calculator__button_num0 {
  grid-area: num0;
}

.calculator__button_point {
  grid-area: point;
}

.footer {
  padding: 2em 1em;
  text-align: center;
}

.footer p:nth-of-type(2) {
  margin-top: 0.5rem;
}

.footer a {
  color: hsla(0, 0%, 100%, 1);
}

/* UTILITY CLASSES */
/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
